body {
    display: flex;
    margin: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
}

#settings {
    width: 20%;
    padding: 20px;
    background-color: #f4f4f4;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

#canvasContainer {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

canvas {
    border: 1px solid #000;
}
